body {
    margin: 0;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: #f79a83;
    display: flex;
    height: 85px;
    border-bottom: 1px solid white;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.left-side {
    flex: 2;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.seven-up-logo {
    width: 64px;
}

.center {
    display: flex;
    flex: 3;
    justify-content: end;
}

.links {
    display: flex;
    gap: 13px;
    font-family: roboto;
    width: 48%;
}

.links a {
    text-decoration: none;
    color: white;
    border-bottom: solid white transparent;
    transition: border bottom 10s ease;
}

.links a:hover {
    border-bottom: 2px solid white;
}

.right-side {
    flex: 1;
}

.social-media-icons {
    display: flex;
    gap: 3px;
}

.social-media {
    width: 23px;
}